<p id="notice"><%= notice %></p>

<h1>Todos</h1>

<div id="todo-new" class="todo-new">
  <div class="todo-new__field">
    <input class="todo-new__text" name="text" type="text" />
  </div>
  <div class="todo-new__field">
    <button class="todo-new__button" type="button">作成</button>
  </div>
</div>

<ul class="todo-list">
  <% @todos.each do |todo| %>
    <li class="<%= todo.complete ? "todo todo--completed" : "todo" %>" data-todo-id="<%= todo.id %>">
      <div class="todo__content">
        <span class="todo__complete">
          <% if todo.complete %>
            <i class="material-icons">check_box</i>
          <% else %>
            <i class="material-icons">check_box_outline_blank</i>
          <% end %>
        </span>
        <span class="todo__text"><%= todo.text %></span>
      </div>
      <div class="todo__links">
        <span><%= link_to 'Show', todo %></span>
        <span><%= link_to 'Edit', edit_todo_path(todo) %></span>
        <span><%= link_to 'Destroy', todo, method: :delete, data: { confirm: 'Are you sure?' } %></span>
      </div>
    </li>
  <% end %>
</ul>

<br>

<%= link_to 'New Todo', new_todo_path %>
